<div id="cookie-notice">
    <span>We would like to use third party cookies and scripts to improve the functionality of this website.</span>
    <a id="cookie-notice-accept" class="btn btn-primary btn-sm">Accept all</a>
    <a id="cookie-notice-essential" class="btn btn-outline-primary btn-sm">Essential only</a>
    <a href="{{ site.baseurl }}/company/privacy#what-types-of-cookies-do-we-use" class="btn btn-link btn-sm text-light">More info</a>
</div>

<script src="{{ site.baseurl }}/assets/js/cookie_consent.js"></script>
