<footer class="footer mt-auto py-5 bg-dark text-white">
    <div class="container text-center d-flex flex-column flex-md-row justify-content-between align-items-center">
        <img src="{{ site.baseurl }}/assets/images/ETHSpinoffLabel2.png" class="img-fluid" alt="ETH Spinoff Label" style="height:115px; filter: invert(100%);">
        <img src="{{ site.baseurl }}/assets/images/NetFabric_ETHAICenter.png" class="img-fluid" alt="ETH AI Center" style="height:50px;">
        <div class="mb-3 mb-md-0">
            <div><i class="fas fa-building"></i> NetFabric AG | &copy; {{ "now" | date: "%Y" }}</div>
            <div><i class="fas fa-map-marker-alt"></i> Am Limmatquai 120, 8001 Zurich</div>
            <div><i class="fas fa-info-circle"></i> <a id="btn-fpoter-aboutus" href="{{ site.baseurl }}/company/about_us">About Us</a></div>
        </div>
        <div class="mb-3 mb-md-0">
            <div>
                <mail id="btn-footer-mail" to="info" class="footer-icon-link">
                    <div class="favicon-circle" data-bs-toggle="tooltip" title="Send us an Email">
                        <i class="fa fa-envelope fa-2x"></i>
                    </div>
                </mail>
                <a id="btn-footer-linkedin" href="https://www.linkedin.com/company/netfabricai/" class="footer-icon-link">
                    <div class="favicon-circle" data-bs-toggle="tooltip" title="NetFabric LinkedIn">
                        <i class="fab fa-linkedin fa-2x"></i>
                    </div>
                </a>    
                <a id="btn-footer-youtube" href="https://youtube.com/@netfabric" class="footer-icon-link">
                    <div class="favicon-circle" data-bs-toggle="tooltip" title="NetFabric Youtube">
                        <i class="fab fa-youtube fa-2x"></i>
                    </div>
                </a>
                <a id="btn-footer-subscribe" href="{{ site.baseurl }}/contact" class="footer-icon-link">
                    <div class="favicon-circle" data-bs-toggle="tooltip" title="Subscribe to updates">
                        <i class="fa fa-comment fa-2x"></i>
                    </div>
                </a>
            </div>
        </div>
    </div>
</footer>
