<footer class="footer mt-auto py-5 bg-dark text-white">
    <div class="container text-center d-flex flex-column flex-md-row justify-content-between">
        <div class="mb-3 mb-md-0">
            <div><i class="fas fa-building"></i> NetFabric AG | &copy; {{ "now" | date: "%Y" }}</div>
            <div><i class="fas fa-map-marker-alt"></i> c/o Boris Paskalev, Am Stadtrand 51a, 8600 Dübendorf</div>
        </div>
        <div class="mb-3 mb-md-0">
            <div><i class="fas fa-envelope"></i> <mail>info</mail></div>
            <div><i class="fab fa-linkedin"></i> <linkedin>netfabric</linkedin></div>
            <a href="{{relative_base}}contact">Contact us</a>
        </div>
    </div>
</footer>
