{% assign person = site.people | where: "key", include.key | first %}

{% if person == nil %}
<!-- Warning: Person not found -->
{% else %}
<div class="col-lg-3 col-md-4 col-sm-6 mb-3">
    <div class="card h-100">
        <div>
            <a href="{{ person.link }}"><img src="{{ site.baseurl }}/{{ person.image | default: 'assets/images/team/default.svg' }}" class="card-img-top img-fluid grayscale-on-hover" alt="{{ person.name }}"></a>
        </div>
        <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
                <h3 class="card-title"><a href="{{ person.link }}" class="no-link-style">{{ person.name }}</a></h3>
                <a href="{{ person.link }}" class="text-decoration-none" target="_blank">
                    <i class="fas fa-external-link-alt text-dark"></i>
                </a>
            </div>
            <p class="card-text">{{ person.role }}</p>
            {% assign content = person.content | strip_newlines %}
            {% if content != "" %}
                <p class="card-text"><a href="{{ person.link }}" class="no-link-style">{{ person.content | markdownify }}</a></p>
            {% endif %}
        </div>
    </div>
</div>



{% endif %}
