---
layout: default
title: About Us
---

Our team, comprising ETH Zurich researchers and serial entrepreneurs, finds current network monitoring solutions inadequate:<br>
Many solutions only superficially understand network data, and have a narrow focus on a few data sources.<br><br>
Motivated by the resulting potential for better tools, we aim to develop an intuitive, scalable, and real-time monitoring solution to answer any question about any computer network.

<h2>Our Team</h2>

<div class="row">
    {% include person_card.html key="Beni" %}
    {% include person_card.html key="Tobias" %}
    {% include person_card.html key="Marlene" %}
    {% include person_card.html key="Simon" %}
    {% include person_card.html key="Laurent" %}
    {% include person_card.html key="Boris" %}
    {% include person_card.html key="Martin" %}
    {% include person_card.html key="Slobodan" %}
</div>
