---
layout: default
title: Careers
---

<style>
    .table th,
    .table td {
        padding-left: 0;
        text-align: left; /* Adjust text alignment as needed */
    }

    .job-table a {
        color: inherit; /* Use the default text color */
        text-decoration: none; /* Remove underline from links */
    }

    .job-table a:hover {
        text-decoration: underline; /* Underline links on hover */
    }

    .link-icon {
        margin-left: 5px; /* Add some space between the text and the icon */
    }
</style>

<p>
    We are always looking for talented people, so feel free to send us an email
    to
    <mail to="careers" addBody="true"></mail> or let us update you by
    registering <a href="{{ site.baseurl }}/contact">here</a>.<br>
</p>
<br>
<p>
    <h3>Open Positions</h3>
    <table class="table job-table">
        <tbody>
            {% if site.jobs.size == 0 %}
                <tr>
                    <td>We are currently not announcing any open positions...</td>
                </tr>
            {% endif %}
            {% for job in site.jobs %}
            <tr>
                <td><a href="{{ job.link }}">{{ job.title }} <i class="link-icon fas fa-external-link-alt"></i></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</p>
<br>
<p>
    <h3>What we offer</h3>

    <div class="row row-cols-md-2 row-cols-1 g-4">
        {% for item in site.data.careers.benefits %}
        <div class="col">
            <div class="card h-100 mb-3">
                <div class="row g-0 align-items-center justify-content-center">
                <div class="col-md-3 col-6">
                    <img src="{{ site.baseurl }}/assets/images/{{ item.image }}" class="img-fluid rounded-start">
                </div>
                <div class="col-md-9 col-12">
                    <div class="card-body">
                        <strong class="card-title">{{ item.short | markdownify }}</strong>
                        <p class="card-text">{{ item.long | markdownify }}</p>
                    </div>
                </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</p>