---
layout: default
title: Join NetFabric
---

<style>
    .table th,
    .table td {
        padding-left: 0;
        text-align: left; /* Adjust text alignment as needed */
    }

    .job-table a {
        color: inherit; /* Use the default text color */
        text-decoration: none; /* Remove underline from links */
    }

    .job-table a:hover {
        text-decoration: underline; /* Underline links on hover */
    }

    .link-icon {
        margin-left: 5px; /* Add some space between the text and the icon */
    }
</style>
<p>Are you passionate about pushing the boundaries of technology? Do you thrive in a dynamic and innovative environment? At NetFabric, we're always on the lookout for talented individuals who share our vision of transforming network monitoring and management.</p>
<p class="mb-4">
    <h3>Open Positions</h3>
    <table class="table job-table">
        <tbody>
            {% if site.jobs.size == 0 %}
                <tr>
                    <td>We are currently not announcing any open positions...</td>
                </tr>
            {% endif %}
            {% for job in site.jobs %}
            <tr>
                <td><a href="{{ job.url }}"><i class="fas fa-external-link-alt me-2"></i>{{ job.title }}</a></td>
            </tr>          
            {% endfor %}
        </tbody>
    </table>
</p>
<p>Can't find the perfect role for you? No problem! We're always excited to discover new talent. Send us an initiative application, and let's explore how you can become a part of our journey.</p>
</p>

{% include careers-how-to-apply.md %}
{% include careers-benefits.md %}