<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Title -->
    <title>NetFabric | {{ page.title }}</title>

    {% include google_analytics.html %}

    <!-- Bootstrap CSS -->
    <link href="{{ site.baseurl }}/assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="{{ site.baseurl }}/assets/images/icons/netfabric-favicon.ico" media="(prefers-color-scheme: light)">
    <link rel="icon" type="image/png" href="{{ site.baseurl }}/assets/images/icons/netfabric-favicon-dark.ico" media="(prefers-color-scheme: dark)">

</head>

<body class="d-flex flex-column min-vh-100">
  {% include header.html %}  

  {{ content }}

  {% include footer.html %}  

  <!-- Bootstrap Bundle with Popper -->
  <script src="{{ site.baseurl }}/assets/js/bootstrap.bundle.min.js"></script>

  <link href="{{ site.baseurl }}/assets/css/fontawesome-all.min.css" rel="stylesheet">

  <!-- Custom scripts -->
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/custom.css">

  <script src="{{ site.baseurl }}/assets/js/custom.js"></script>

  {% include cookie_consent.html %}

</body>

</html>