{% include load_relative_base.html %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Title -->
    <title>NetFabric | {{ page.title }}</title>

    {% include google_analytics.html %}

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="{{relative_base}}assets/images/icons/favicon.ico" media="(prefers-color-scheme: light)">
    <link rel="icon" type="image/png" href="{{relative_base}}assets/images/icons/favicon-dark-mode.ico" media="(prefers-color-scheme: dark)">

</head>

<body class="d-flex flex-column min-vh-100">
  {% include navigation.html %}  

  {{ content }}

  {% include footer.html %}  

  <!-- Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">

  <!-- Custom scripts -->
  <link rel="stylesheet" href="{{relative_base}}assets/css/custom.css">

  <script src="{{relative_base}}assets/js/custom.js"></script>

  {% include cookie_consent.html %}

</body>

</html>